@model OnlineBookStoreUser.Models.Customers

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- breadcrumbs -->
<div class="breadcrumbs">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
            <li><a href="index.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li class="active">Register Page</li>
        </ol>
    </div>
</div>
<!-- //breadcrumbs -->
<!-- register -->
<div class="register">
    <div class="container">
        <h3 class="animated wow zoomIn" data-wow-delay=".5s">Register Here</h3>


        <div class="login-form-grids">
            <h5 class="animated wow slideInUp" data-wow-delay=".5s">Profile information</h5>
            <form class="animated wow slideInUp" data-wow-delay=".5s" asp-action="Register" asp-controller="Customers" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input type="text" asp-for="FirstName" placeholder="First Name..." required="">
                <span asp-validation-for="FirstName" class="text-danger"></span>

                <input type="text" asp-for="LastName" placeholder="Last Name..." required="">
                <span asp-validation-for="LastName" class="text-danger"></span>

                <input type="email" asp-for="Email" placeholder="Email..." required="">
                <span asp-validation-for="Email" class="text-danger"></span>

                <br />  <br />
                <h5 class="animated wow slideInUp" data-wow-delay=".5s">Login information</h5>

                <input type="text" asp-for="UserName" placeholder="User Name..." required="">
                <span asp-validation-for="UserName" class="text-danger"></span>

                <input type="password" asp-for="OldPassword" placeholder="Password..." required="">
                <span asp-validation-for="OldPassword" class="text-danger"></span>

                <input type="password" asp-for="NewPassword" placeholder="Confirm Password..." required="">
                <span asp-validation-for="NewPassword" class="text-danger"></span>
                @*<span @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })</span>*@



                <h6 class="animated wow slideInUp" data-wow-delay=".5s">Address information</h6>

                <input type="text" asp-for="Address" placeholder="Address..." required=""> <br />
                <span asp-validation-for="Address" class="text-danger"></span>

                <input type="text" asp-for="ZipCode" placeholder="ZipCode..." required=""> <br />
                <span asp-validation-for="ZipCode" class="text-danger"></span>

                <input type="text" asp-for="Contact" placeholder="Contact..." required="">
                <span asp-validation-for="Contact" class="text-danger"></span>

                @*<div class="register-check-box">
                        <div class="check">
                            <label asp-for="ShippingAddress" class="checkbox">
                                <input type="checkbox" asp-for="ShippingAddress" name="checkbox"><i> </i>Shipping Address
                            </label>
                        </div>
                    </div>*@
                <input type="submit" value="Register">
            </form>

        </div>
        <div class="register-home animated wow slideInUp" data-wow-delay=".5s">
            <a asp-controller="Home" asp-action="Index">Home</a>
        </div>
    </div>
</div>
<!-- //register -->