@model coreBookStore.Models.Publication

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />

<h2><center><b><u>Edit Publication</u></b></center></h2>
<br />


@*<form asp-action="Edit" asp-controller="Publication">

        <label asp-for="PublicationId"></label>
        <input type="text" asp-for="PublicationId" />
        <br />

        <label asp-for="PublicationName"></label>
        <input type="text" asp-for="PublicationName" />
        <br />

        <label asp-for="PublicationDescription"></label>
        <input type="text" asp-for="PublicationDescription" />
        <br />



        <input type="submit" value="Save" class="btn btn-primary" />

    </form>*@


<form asp-action="Edit" asp-controller="Publication">

    @*<div class="form-group">
            <label asp-for="PublicationId"><b>Publication Id</b></label>
            <input type="text" asp-for="PublicationId" class="form-control" placeholder="Enter Publication Id">
        </div>*@

    @Html.HiddenFor(model => Model.PublicationId)

    <div class="form-group">
        <label asp-for="PublicationName"><b>Publication Name</b></label>
        <input type="text" asp-for="PublicationName" class="form-control" placeholder="Enter Publication Name">
    </div>

    <div class="form-group">
        <label asp-for="PublicationDescription"><b>Publication Description</b></label>
        <input type="text" asp-for="PublicationDescription" class="form-control" placeholder="Enter Publication Description">
    </div>
    <div class="form-group">
        <label asp-for="PublicationImage"><b>Publication Image</b></label>
        <input type="text" asp-for="PublicationImage" class="form-control" placeholder="Enter Publication Image">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Publication" asp-action="Index" class="btn btn-primary">Back To List</a>
</form>
