@using Microsoft.AspNetCore.Http;
@model OnlineBookStoreUser.Models.Customers
@using Microsoft.Extensions.Options

@inject IOptions<StripeSettings> Stripe
@{
    Layout = "~/Views/Shared/_CheckoutLayout.cshtml";
}

<div class="page-info-section page-info">
    <div class="container">
        <div class="site-breadcrumb" width="100%">
            <a asp-controller="Home" asp-action="Index">Home</a> /

            <a asp-controller="Cart" asp-action="Index">Cart</a> /
            <span>Checkout</span>
        </div>
        <img src="~/images/page-info-art.png" alt="" class="page-info-art">
    </div>
</div>
<!-- Page -->
<div class="page-area cart-page spad">
    <div class="container">
        <form class="checkout-form" asp-controller="Cart" asp-action="CheckOut">
            <div class="row">
                <div class="col-lg-6">
                    <h4 class="checkout-title">Billing Address</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="id_first_name">First name:</label>
                            <input asp-for="FirstName" type="text" placeholder="First Name *">
                        </div>
                        <div class="col-md-6">
                            <label for="id_last_name">Last name:</label>
                            <input asp-for="LastName" type="text" placeholder="Last Name *">
                        </div>
                        <div class="col-md-12">
                            <label for="id_user_name">User name:</label>
                            <input asp-for="UserName" type="text" placeholder="UserName">

                            <label for="id_address">Address:</label>
                            <input asp-for="Address" type="text" placeholder="Address *">

                            <label for="id_zipcode">ZipCode:</label>
                            <input asp-for="ZipCode" type="text" placeholder="Zipcode *">

                            <label for="id_contact">Contact Number:</label>
                            <input asp-for="Contact" type="text" placeholder="Phone no *">

                            <label for="id_email">Email:</label>
                            <input asp-for="Email" type="email" placeholder="Email Address *">


                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="order-card">
                        <div class="order-details">
                            <div class="od-warp">
                                <h4 class="checkout-title">Your order</h4>
                                <table class="order-table">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in ViewBag.Cart)
                                        {
                                            <tr>
                                                <td> @item.Books.BookName</td>
                                                <td> @item.Books.BookPrice</td>

                                            </tr>

                                            <tr class="cart-subtotal">
                                                <td>Shipping</td>
                                                <td>Free</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr class="order-total">
                                            <th>Total</th>
                                            <th>@ViewBag.total</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            @*<div class="payment-method">
                                    <div class="pm-item">
                                        <input type="radio" name="pm" id="one">
                                        <label for="one">Paypal</label>
                                    </div>
                                    <div class="pm-item">
                                        <input type="radio" name="pm" id="two">
                                        <label for="two">Cash on delievery</label>
                                    </div>
                                    <div class="pm-item">
                                        <input type="radio" name="pm" id="three">
                                        <label for="three">Credit card</label>
                                    </div>
                                    <div class="pm-item">
                                        <input type="radio" name="pm" id="four" checked>
                                        <label for="four">Direct bank transfer</label>
                                    </div>
                                </div>*@
                        </div>

                        <div class="right">
                        @*<button type="submit" class="site-btn btn-full">Proceed To Pay</button>*@
                        <script src="//checkout.stripe.com/v2/checkout.js"
                                class="stripe-button"
                                data-key="@Stripe.Value.PublishableKey"
                                data-locale="auto"
                                data-description="Sample Charge"
                                data-amount="500">
                        </script>
                            </div>
                        <a asp-controller="Cart" asp-action="Index" class="btn btn-default"><span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Back To Cart</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Page -->
