
@{
    ViewData["Title"] = "EmptyCart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br />
<br />


<center>
    <img src="~/images/cartempty.png" width="650px" height="550px"><br />
</center>
<div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
    <a asp-controller="Home" asp-action="Index"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Continue Shopping</a>
</div>


<br />

