@model coreBookStore.Models.Author

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<h2><center><b><u>Add Author</u></b></center></h2>
<br />

<form asp-action="Create" asp-controller="Author">

    @*<div class="form-group">
            <label asp-for="AuthorId">Author Id </label>
            <input type="text" asp-for="AuthorId" class="form-control" placeholder="Enter Author Id">
        </div>*@

    <div class="form-group">
        <label asp-for="AuthorName"><b>Author's Name</b></label>
        <input type="text" asp-for="AuthorName" class="form-control" placeholder="Enter Author's Name">
    </div>

    <div class="form-group">
        <label asp-for="AuthorDescription"><b>Author's Description</b></label>
        <input type="text" asp-for="AuthorDescription" class="form-control" placeholder="Enter Author's Description">
    </div>

    <div class="form-group">
        <label asp-for="AuthorImage"><b>Author's Image</b></label>
        <input type="text" asp-for="AuthorImage" class="form-control" placeholder="Upload Author's Image">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Author" asp-action="Index" class="btn btn-primary">Back To List</a>
</form>

